.pagina-exercicio11 {
    .inputs-container {
        margin: 0px 800px;
    }

    ul {
        margin-top: 10px;
        align-self: flex-end;
        list-style: none;
        font-weight: 600;
    }
}